<mat-drawer-container class="drawerContainer">
    <mat-drawer class="drawer" mode="side" position="end" opened >
        <div *ngIf="user.tip=='prazan'">
            <div class="home"><a routerLink="/"><button mat-mini-fab color="warn"><mat-icon>home</mat-icon></button></a></div>
            <div class="button"><a routerLink="/login"><button mat-raised-button class="largeButton" color="warn">Sign in</button></a></div>
            <div class="button"><a routerLink="/register"><button mat-raised-button class="largeButton" color="warn">Register</button></a></div>
            <div class="button"><a routerLink="/search"><button mat-raised-button class="largeButton" color="accent"><mat-icon>search</mat-icon></button></a></div>
        </div>
        <div *ngIf="user.tip=='moderator'">
            <div class="home"><a routerLink="/moderator"><button mat-mini-fab color="warn"><mat-icon>home</mat-icon></button></a></div>
            <div class="button"><a routerLink="/moderatorprofile"><img class="profileImage" [src]="'data:image/jpeg;base64,' + user.slika" alt="Profile image"></a></div>
            <div class="button"><a routerLink="/search"><button mat-raised-button class="largeButton" color="accent"><mat-icon>search</mat-icon></button></a></div>
            <div class="button"><a routerLink="/loan"><button mat-raised-button class="largeButton" color="warn">Loan</button></a></div>
            <div class="button"><a routerLink="/loanhistory"><button mat-raised-button class="largeButton" color="warn">History</button></a></div>
            <div class="button"><a routerLink="/addbook" *ngIf="!user.blokiran"><button mat-raised-button class="largeButton" color="warn">Add book</button></a></div>
            <div class="button"><a routerLink="/bookRequests" *ngIf="!user.blokiran"><button mat-raised-button class="largeButton" color="warn">Requests</button></a></div>
            <div class="button"><a routerLink="/changePassword"><button mat-raised-button class="largeButton" color="warn">Change password</button></a></div>
            <div class="button"><button mat-raised-button color="warn" class="largeButton" (click)="logout()">Sign Out</button></div>
        </div>
        <div *ngIf="user.tip=='citalac'">
            <div class="home"><a routerLink="/reader"><button mat-mini-fab color="warn"><mat-icon>home</mat-icon></button></a></div>
        <div class="button"><a routerLink="/readerprofile"><img class="profileImage" [src]="'data:image/jpeg;base64,' + user.slika" alt="Profile image"></a></div>
        <div class="button"><a routerLink="/search"><button mat-raised-button class="largeButton" color="accent"><mat-icon>search</mat-icon></button></a></div>
        <div class="button"><a routerLink="/loan"><button mat-raised-button class="largeButton" color="warn">Loan</button></a></div>
        <div class="button"><a routerLink="/loanhistory"><button mat-raised-button class="largeButton" color="warn">History</button></a></div>
        <div class="button"><a routerLink="/addbook" *ngIf="!user.blokiran"><button mat-raised-button class="largeButton" color="warn">Add book</button></a></div>
        <div class="button"><a routerLink="/changePassword"><button mat-raised-button class="largeButton" color="warn">Change password</button></a></div>
        <div class="button"><button mat-raised-button color="warn" class="largeButton" (click)="logout()">Sign Out</button></div>
        </div>
        <div *ngIf="user.tip=='admin'">
            <div class="home"><a routerLink="/admin"><button mat-mini-fab color="warn"><mat-icon>home</mat-icon></button></a></div>
            <div class="button"><a routerLink="/adminprofile"><img class="profileImage" [src]="'data:image/jpeg;base64,' + user.slika" alt="Profile image"></a></div>
            <div class="button"><a routerLink="/search"><button mat-raised-button class="largeButton" color="accent"><mat-icon>search</mat-icon></button></a></div>
            <div class="button"><a routerLink="/loan"><button mat-raised-button class="largeButton" color="warn">Loan</button></a></div>
            <div class="button"><a routerLink="/loanhistory"><button mat-raised-button class="largeButton" color="warn">History</button></a></div>
            <div class="button"><a routerLink="/addbook"><button mat-raised-button class="largeButton" color="warn">Add book</button></a></div>
            <div class="button"><a routerLink="/userRequests"><button mat-raised-button class="largeButton" color="warn">Requests</button></a></div>
            <div class="button"><a routerLink="/editUser"><button mat-raised-button class="largeButton" color="warn">Edit users</button></a></div>
            <div class="button"><a routerLink="/changePassword"><button mat-raised-button class="largeButton" color="warn">Change password</button></a></div>
            <div class="button"><button mat-raised-button color="warn" class="largeButton" (click)="logout()">Sign Out</button></div>
        </div>
    </mat-drawer>
    <mat-drawer-content >
        <div class="outer">
            <div class="inner">
                <br>
                <br>
                <br>
                <br>
                <div class="tableCenterContainer">
                    <div class="tableCenter">
                        <table>
                            <mat-card class="card">
                                <tr>
                                    <td>Password:</td>
                                    <td>
                                        <input type="password" name="password" [(ngModel)]="password"> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>New password:</td>
                                    <td>
                                        <input type="password" name="newPassword" [(ngModel)]="newPassword"> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>Confirm new password:</td>
                                    <td>
                                        <input type="password" name="passwordConfirm" [(ngModel)]="passwordConfirm"> 
                                    </td>
                                </tr>
                            </mat-card>
                            <br/>
                            <mat-card class="card">
                                <div class="center">
                                    <button mat-raised-button color="accent" (click)="changePassword()">Update</button>
                                </div>
                            </mat-card>
                            <div class="tableCenterContainter">
                                <span style="color:red">{{message}}</span>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>