.tableCenter {
    border-width: 0px;
}
.tableCenter2 {
    font-weight: 900;
    text-shadow: 5px 5px 8px #7d7979;
}
.tableCenterContainer {
    display: flex;
    justify-content: center;
}
.center {
    text-align: center; 
}
.drawerContainer {
    background-color:#f6e27d;
    display: contents;
}
.drawer {
    background-color:#f8a9e0;
    width: 7vw;
    border-width: 0px;
    background-image: url("../../assets/background.png");
    background-position-x: right;
}
.home {
    text-align: center;
    vertical-align : top;
    margin-top: 20%; 
}
.button {
    text-align: center;
    vertical-align : top;
    margin-top: 10%;
}
.largeButton {
    width: 90%;
    padding: 2%;
}
.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.botdImage {
    width: 100px;
    height: 100px;
}
.card {
    width:fit-content;
    background-color: #fff0a2;
    background-image: url("../../assets/card.png");
    background-blend-mode:hue;
}
.card2 {
    width:330px;
    background-color: #fff0a2;
    background-image: url("../../assets/card2.png");
    background-blend-mode:hue;
}
.cardFull {
    width:1000px;
    background-color: #fff0a2;
    background-image: url("../../assets/card.png");
    background-blend-mode:hue;
}
.outer {
    height: 99.5%;
    width: inherit;
    border: 0px;
    overflow: hidden;
    background-color: transparent;
}
.inner {
    width: 100%;
    height: 99%;
    overflow: auto;
    padding-right: 20px;
    background-color: transparent;
}
.inner.scroll {
    padding-right: 0;
    background-color: transparent;
}