<mat-drawer-container class="drawerContainer">
    <mat-drawer class="drawer" mode="side" position="end" opened >
        <div class="home"><a routerLink="/moderator"><button mat-mini-fab color="warn"><mat-icon>home</mat-icon></button></a></div>
        <div class="button"><a routerLink="/moderatorprofile"><img class="profileImage" [src]="'data:image/jpeg;base64,' + moderator.slika" alt="Profile image"></a></div>
        <div class="button"><a routerLink="/search"><button mat-raised-button class="largeButton" color="accent"><mat-icon>search</mat-icon></button></a></div>
        <div class="button"><a routerLink="/loan"><button mat-raised-button class="largeButton" color="warn">Loan</button></a></div>
        <div class="button"><a routerLink="/loanhistory"><button mat-raised-button class="largeButton" color="warn">History</button></a></div>
        <div class="button" *ngIf="!moderator.blokiran"><a routerLink="/addbook"><button mat-raised-button class="largeButton" color="warn">Add book</button></a></div>
        <div class="button" *ngIf="!moderator.blokiran"><a routerLink="/bookRequests"><button mat-raised-button class="largeButton" color="warn">Requests</button></a></div>
        <div class="button"><a routerLink="/changePassword"><button mat-raised-button class="largeButton" color="warn">Change password</button></a></div>
        <div class="button"><button mat-raised-button color="warn" class="largeButton" (click)="logout()">Sign Out</button></div>
    </mat-drawer>
    <mat-drawer-content >
        <div class="outer">
            <div class="inner">
                <br>
                <br>
                <div class="tableCenterContainer">
                    <div class="tableCenter">
                        <table>
                            <div *ngFor="let book of books">
                                <br/>
                                <mat-card class="card">
                                    <tr>
                                        <td>Requested by:</td>
                                        <td>
                                            {{book.korisnicko_ime}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Name:</td>
                                        <td>
                                            {{book.naziv}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Authors:</td>
                                        <td>
                                            <tr *ngFor="let a of book.autor">
                                                {{a}}
                                            </tr>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Genre:</td>
                                        <td>
                                            <tr *ngFor="let z of book.zanr">
                                                {{z}}
                                            </tr>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Publisher:</td>
                                        <td>
                                            {{book.izdavac}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Year:</td>
                                        <td>
                                            {{book.godina}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Language:</td>
                                        <td>
                                            {{book.jezik}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Photo:</td>
                                        <td>
                                            <img class="bookImage" [src]="'data:image/jpeg;base64,' + book.slika" alt="Image">
                                        </td>
                                    </tr>
                                </mat-card>
                                <br/>
                                <mat-card class="cardWide">
                                    <tr>
                                        <td>
                                            <button mat-raised-button color="accent" (click)="add(book)">Approve</button> 
                                        </td>
                                        <td>
                                            <button mat-raised-button color="warn" (click)="delete(book)">Delete</button> 
                                        </td>
                                    </tr>
                                </mat-card>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>