<mat-drawer-container class="drawerContainer">
    <mat-drawer class="drawer" mode="side" position="end" opened >
        <div *ngIf="user.tip=='prazan'">
            <div class="home"><a routerLink="/"><button mat-mini-fab color="warn"><mat-icon>home</mat-icon></button></a></div>
            <div class="button"><a routerLink="/login"><button mat-raised-button class="largeButton" color="warn">Sign in</button></a></div>
            <div class="button"><a routerLink="/register"><button mat-raised-button class="largeButton" color="warn">Register</button></a></div>
            <div class="button"><a routerLink="/search"><button mat-raised-button class="largeButton" color="accent"><mat-icon>search</mat-icon></button></a></div>
        </div>
        <div *ngIf="user.tip=='moderator'">
            <div class="home"><a routerLink="/moderator"><button mat-mini-fab color="warn"><mat-icon>home</mat-icon></button></a></div>
            <div class="button"><a routerLink="/moderatorprofile"><img class="profileImage" [src]="'data:image/jpeg;base64,' + user.slika" alt="Profile image"></a></div>
            <div class="button"><a routerLink="/search"><button mat-raised-button class="largeButton" color="accent"><mat-icon>search</mat-icon></button></a></div>
            <div class="button"><a routerLink="/loan"><button mat-raised-button class="largeButton" color="warn">Loan</button></a></div>
            <div class="button"><a routerLink="/loanhistory"><button mat-raised-button class="largeButton" color="warn">History</button></a></div>
            <div class="button" *ngIf="!user.blokiran"><a routerLink="/addbook"><button mat-raised-button class="largeButton" color="warn">Add book</button></a></div>
            <div class="button" *ngIf="!user.blokiran"><a routerLink="/bookRequests"><button mat-raised-button class="largeButton" color="warn">Requests</button></a></div>
            <div class="button"><a routerLink="/changePassword"><button mat-raised-button class="largeButton" color="warn">Change password</button></a></div>
            <div class="button"><button mat-raised-button color="warn" class="largeButton" (click)="logout()">Sign Out</button></div>
        </div>
        <div *ngIf="user.tip=='citalac'">
            <div class="home"><a routerLink="/reader"><button mat-mini-fab color="warn"><mat-icon>home</mat-icon></button></a></div>
        <div class="button"><a routerLink="/readerprofile"><img class="profileImage" [src]="'data:image/jpeg;base64,' + user.slika" alt="Profile image"></a></div>
        <div class="button"><a routerLink="/search"><button mat-raised-button class="largeButton" color="accent"><mat-icon>search</mat-icon></button></a></div>
        <div class="button"><a routerLink="/loan"><button mat-raised-button class="largeButton" color="warn">Loan</button></a></div>
        <div class="button"><a routerLink="/loanhistory"><button mat-raised-button class="largeButton" color="warn">History</button></a></div>
        <div class="button" *ngIf="!user.blokiran"><a routerLink="/addbook"><button mat-raised-button class="largeButton" color="warn">Add book</button></a></div>
        <div class="button"><a routerLink="/changePassword"><button mat-raised-button class="largeButton" color="warn">Change password</button></a></div>
        <div class="button"><button mat-raised-button color="warn" class="largeButton" (click)="logout()">Sign Out</button></div>
        </div>
        <div *ngIf="user.tip=='admin'">
            <div class="home"><a routerLink="/admin"><button mat-mini-fab color="warn"><mat-icon>home</mat-icon></button></a></div>
            <div class="button"><a routerLink="/adminprofile"><img class="profileImage" [src]="'data:image/jpeg;base64,' + user.slika" alt="Profile image"></a></div>
            <div class="button"><a routerLink="/search"><button mat-raised-button class="largeButton" color="accent"><mat-icon>search</mat-icon></button></a></div>
            <div class="button"><a routerLink="/loan"><button mat-raised-button class="largeButton" color="warn">Loan</button></a></div>
            <div class="button"><a routerLink="/loanhistory"><button mat-raised-button class="largeButton" color="warn">History</button></a></div>
            <div class="button"><a routerLink="/addbook"><button mat-raised-button class="largeButton" color="warn">Add book</button></a></div>
            <div class="button"><a routerLink="/userRequests"><button mat-raised-button class="largeButton" color="warn">Requests</button></a></div>
            <div class="button"><a routerLink="/editUser"><button mat-raised-button class="largeButton" color="warn">Edit users</button></a></div>
            <div class="button"><a routerLink="/changePassword"><button mat-raised-button class="largeButton" color="warn">Change password</button></a></div>
            <div class="button"><button mat-raised-button color="warn" class="largeButton" (click)="logout()">Sign Out</button></div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="outer">
            <div class="inner">
                <br>
                <br>
                <div class="tableCenterContainer" *ngIf="user.tip=='citalac'||edit==false">
                    <div class="tableCenter">
                        <table>
                        <br/>
                        <mat-card class="card">
                            <tr>
                                <td>Name:</td>
                                <td>
                                    {{book.naziv}}
                                </td>
                            </tr>
                            <tr>
                                <td>Authors:</td>
                                <td>
                                    <tr *ngFor="let a of book.autor">
                                        {{a}}
                                    </tr>
                                </td>
                            </tr>
                            <tr>
                                <td>Genre:</td>
                                <td>
                                    <tr *ngFor="let z of book.zanr">
                                        {{z}}
                                    </tr>
                                </td>
                            </tr>
                            <tr>
                                <td>Publisher:</td>
                                <td>
                                    {{book.izdavac}}
                                </td>
                            </tr>
                            <tr>
                                <td>Year:</td>
                                <td>
                                    {{book.godina}}
                                </td>
                            </tr>
                            <tr>
                                <td>Language:</td>
                                <td>
                                    {{book.jezik}}
                                </td>
                            </tr>
                            <tr>
                                <td>Stock:</td>
                                <td>
                                {{book.stanje}}
                                </td>
                            </tr>
                            <tr>
                                <td>Photo:</td>
                                <td>
                                    <img class="bookImage" [src]="'data:image/jpeg;base64,' + book.slika" alt="Image">
                                </td>
                            </tr>
                            <tr>
                                <td>Rating:</td>
                                <td *ngIf="prosecna_ocena!=0">
                                    {{prosecna_ocena}} 🤩
                                </td>
                                <td *ngIf="prosecna_ocena==0">
                                    No 🤩 for now
                                </td>
                                <td *ngIf="user.tip!='citalac'">
                                    Edit:<input type="checkbox" [(ngModel)]="edit">
                                </td>
                            </tr>
                        </mat-card>
                        <div *ngIf="nemaZaduzeno">
                            <br/>
                            <mat-card class="cardWide">
                                <tr *ngIf="!isLate && numberOfLoans<3">
                                    <td *ngIf="!canReserve(book)">
                                        <div class="button"><button mat-raised-button color="accent" class="button" (click)="zaduzi()">Zaduzi</button></div>
                                    </td>
                                    <td *ngIf="canReserve(book)">
                                        <div class="button"><button mat-raised-button color="accent" class="button" (click)="rezervisi()">Rezervisi</button></div>
                                    </td>
                                </tr>
                                <tr *ngIf="isLate || numberOfLoans>=3">
                                    <span style="color:red">You are not allowed to loan books if you are late or you have 3 books loaned already.</span>
                                </tr>
                            </mat-card>
                        </div>
                        </table>
                    </div>
                </div>

                <div class="tableCenterContainer" *ngIf="user.tip!='citalac'&&edit==true">
                    <div class="tableCenter">
                        <table>
                            <br/>
                            <mat-card class="card">
                            <tr>
                                <td>Name:</td>
                                <td>
                                    <input type="text" name="name" placeholder="{{book.naziv}}" [(ngModel)]="name">
                                </td>
                            </tr>
                            <tr>
                                <td>Authors:</td>
                                <td>
                                    <input type="text" name="authors" placeholder="{{autori}}" [(ngModel)]="authors">
                                </td>
                            </tr>
                            <tr>
                                <td>Genre:</td>
                                <td>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Select</mat-label>
                                        <mat-select [formControl]="genreFormControl" multiple [(ngModel)]="book.zanr">
                                            <mat-option *ngFor="let g of genreList" [value]="g">{{g}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>Publisher:</td>
                                <td>
                                    <input type="text" name="publisher" placeholder="{{book.izdavac}}" [(ngModel)]="publisher">
                                </td>
                            </tr>
                            <tr>
                                <td>Year:</td>
                                <td>
                                    <input type="text" name="year" placeholder="{{book.godina}}" [(ngModel)]="year">
                                </td>
                            </tr>
                            <tr>
                                <td>Language:</td>
                                <td>
                                    <input type="text" name="language" placeholder="{{book.jezik}}" [(ngModel)]="language">
                                </td>
                            </tr>
                            <tr *ngIf="user.tip=='admin'">
                                <td>Loan duration:</td>
                                <td>
                                    <input type="text" name="language" placeholder="{{book.dana}}" [(ngModel)]="days">
                                </td>
                            </tr>
                            <tr>
                                <td>Stock:</td>
                                <td>
                                    <input type="text" name="language" placeholder="{{book.stanje}}" [(ngModel)]="stock">
                                </td>
                            </tr>
                            <tr>
                                <td>Photo:</td>
                                <td>
                                    <img class="bookImage" [src]="'data:image/jpeg;base64,' + book.slika" alt="Image">
                                </td>
                            </tr>
                            <tr><td>
                                <input type="file" name="picture" (change)="changePicture($event)" accept="image/jpg, image/png" [(ngModel)]="picture">
                            </td></tr>
                            <tr>
                                <td>Rating:</td>
                                <td *ngIf="prosecna_ocena!=0">
                                    {{prosecna_ocena}} 🤩
                                </td>
                                <td *ngIf="prosecna_ocena==0">
                                    No 🤩 for now
                                </td>
                                <td *ngIf="user.tip!='citalac'">
                                    Edit:<input type="checkbox" [(ngModel)]="edit">
                                </td>
                            </tr>
                        </mat-card>
                        <br/>
                        <mat-card class="cardWide">
                            <tr>
                                <td>
                                    <div class="button"><button mat-raised-button color="accent" class="button" (click)="update()">Update</button></div>
                                </td>
                                <td *ngIf="user.tip=='admin'">
                                    <div class="button"><button mat-raised-button color="warn" class="button" (click)="delete()">Delete</button></div>
                                </td>
                            </tr>
                        </mat-card>
                        <tr>
                            <span style="color:red">{{message}}</span>
                        </tr>
                        </table>
                    </div>
                </div>

                <div class="tableCenterContainer">
                    <div class="tableCenter">
                        <table  *ngIf="hasLoaned">
                            <br/>
                            <mat-card class="card3" [ngStyle]="{'background-position-x': mash(4) + '%','background-position-y': mash(4) + '%'}">
                            <tr>
                                <td>Rate:</td>
                                <td>
                                    <button mat-icon-button (click)="rate(1)">
                                        <span *ngIf="ratings[0]==0">😐</span>
                                        <span *ngIf="ratings[0]==1">🤩</span>
                                    </button>
                                    <button mat-icon-button (click)="rate(2)">
                                        <span *ngIf="ratings[1]==0">😐</span>
                                        <span *ngIf="ratings[1]==1">🤩</span>
                                    </button>
                                    <button mat-icon-button (click)="rate(3)">
                                        <span *ngIf="ratings[2]==0">😐</span>
                                        <span *ngIf="ratings[2]==1">🤩</span>
                                    </button>
                                    <button mat-icon-button (click)="rate(4)">
                                        <span *ngIf="ratings[3]==0">😐</span>
                                        <span *ngIf="ratings[3]==1">🤩</span>
                                    </button>
                                    <button mat-icon-button (click)="rate(5)">
                                        <span *ngIf="ratings[4]==0">😐</span>
                                        <span *ngIf="ratings[4]==1">🤩</span>
                                    </button>
                                    <button mat-icon-button (click)="rate(6)">
                                        <span *ngIf="ratings[5]==0">😐</span>
                                        <span *ngIf="ratings[5]==1">🤩</span>
                                    </button>
                                    <button mat-icon-button (click)="rate(7)">
                                        <span *ngIf="ratings[6]==0">😐</span>
                                        <span *ngIf="ratings[6]==1">🤩</span>
                                    </button>
                                    <button mat-icon-button (click)="rate(8)">
                                        <span *ngIf="ratings[7]==0">😐</span>
                                        <span *ngIf="ratings[7]==1">🤩</span>
                                    </button>
                                    <button mat-icon-button (click)="rate(9)">
                                        <span *ngIf="ratings[8]==0">😐</span>
                                        <span *ngIf="ratings[8]==1">🤩</span>
                                    </button>
                                    <button mat-icon-button (click)="rate(10)">
                                        <span *ngIf="ratings[9]==0">😐</span>
                                        <span *ngIf="ratings[9]==1">🤩</span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Comment:</td>
                                <td>
                                    <input class="comment" type="text" [(ngModel)]="newComment">
                                </td>
                            </tr>
                            <tr class="tableCenterContainer">
                                <td>
                                    <div class="button" *ngIf="!updateComment"><button mat-raised-button color="accent" class="button" (click)="addComment()">Comment</button></div>
                                    <div class="button" *ngIf="updateComment"><button mat-raised-button color="accent" class="button" (click)="addComment()">Update</button></div>
                                </td>
                            </tr>
                        </mat-card>
                        <tr *ngIf="showWarning">
                            <td class="tableCenterContainer">
                                <span style=color:red>Rating is required!</span>
                            </td>
                        </tr>
                        <tr *ngIf="tooMany">
                            <span style="color:red">Comment must have under 1000 characters.</span>
                        </tr>
                        </table>
                    </div>
                </div>

                <div class="tableCenterContainer">
                    <div class="tableCenter">
                        <table>
                            <div *ngFor="let comment of comments">
                                <br/>
                                <mat-card class="card2" [ngStyle]="{'background-position-x': mash(comments.indexOf(comment)) + '%','background-position-y': mash(comments.indexOf(comment)) + '%'}">
                                <tr>
                                    <td>Username:</td>
                                    <td>
                                        {{comment.korisnicko_ime}}
                                    </td>
                                    <td>
                                        <span *ngFor="let o of [].constructor(comment.ocena)">
                                            🤩
                                        </span>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>Comment:</td>
                                        <td>
                                            {{comment.komentar}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Date and time:</td>
                                        <td>
                                            {{toDate(comment.datum)}}
                                        </td>
                                        <td *ngIf="comment.azuriran">
                                            Edited.
                                        </td>
                                    </tr>
                                </mat-card>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>