.tableCenter {
    width: 330px;
    min-width: 330px;
}
.tableCenter2 {
    font-weight: 900;
    text-shadow: 5px 5px 8px #7d7979;
}
.tableCenterContainer {
    display: flex;
    justify-content: center;
}
.center {
    text-align: center; 
}
.drawerContainer {
    background-color:#f6e27d;
    display: contents;
}
.drawer {
    background-color:#f8a9e0;
    width: 7vw;
    border-width: 0px;
    background-image: url("../../assets/background.png");
    background-position-x: right;
}
.home {
    text-align: center;
    vertical-align : top;
    margin-top: 20%; 
}
.button {
    text-align: center;
    vertical-align : top;
    margin-top: 10%;
}
.largeButton {
    width: 90%;
    padding: 2%;
}
.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.botdImage {
    max-height: 100px;
}
.card {
    width:fit-content;
    background-color: #fff0a2;
    background-image: url("../../assets/card.png");
    background-blend-mode:hue;
}
.card3 {
    width:300px;
    background-color: #fff0a2;
    background-image: url("../../assets/card.png");
    background-blend-mode:hue;
}
.cardBig {
    width:300px;
    min-height:200px;
    background-color: #fff0a2;
    background-image: url("../../assets/card.png");
    background-blend-mode:hue;
}